@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300&display=swap');



.wrapper {
    position: relative;
    height: 182vh;
    background: #fff ;
    overflow: hidden;
    background-attachment: fixed;
    animation: scrollBackground 30s linear infinite;
    -webkit-animation: scrollBackground 30s linear infinite;
    -moz-animation: scrollBackground 30s linear infinite;
    -o-animation: scrollBackground 30s linear infinite;
}

.wrapperM {
  position: relative;
  height: 100vh;
  background: #f9f9f9 ;
  overflow: hidden;
  background: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}



.background {
    width: 100vw;
    height: 32vh;
    position: absolute;
    background-color: #277c0b;
    background: linear-gradient(90deg, rgba(7,78,7,1) 24%, rgba(6,139,44,1) 83%);
}

.cup {
  position:fixed;
  top: 50%;
right: 50%;
z-index:999;
/* transform: translateY(50%); */
transform: translateX(50%) translateY(-50%);
}

.cupinfo {
  display:none;
  position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;

    transform: translateX(-178px) translateY(-273px);
}

.heading-text {
  position: relative;
      left: 5%;
      width: 50%;
      top: 10%;
      z-index: 1;
}



.menu {
  margin-right: 50px;
  text-align: right;
  float: right;
  position: relative;
  top: 10%;
  z-index: 1;
  z-index:9999;
}

.menu h1 {
  font-family: 'Pathway Gothic One', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
  -webkit-text-stroke: 0px #fff;
  line-height: 35px;
  text-decoration: underline;
}

.menu a {
  font-family: 'Pathway Gothic One', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
  -webkit-text-stroke: 0px #fff;
  line-height: 35px;
  width: 100%;
  text-decoration: underline;
}
.leaf {
position: relative;
top: 50%;
left: 50%;
z-index: 999;
transform: translateX(-531px) translateY(183px);
width: 200px;
}

.dirt {
  position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-112px) translateY(-463px);
      width: 200px;
}

.heading-text h1 {
  font-family: 'Pathway Gothic One', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 35px;
  -webkit-text-stroke: 0px #fff;
  line-height: 40px;
}

.section-text h1{
  font-family: 'Josefin Sans', sans-serif;
  color: #043204;
      font-weight: 600;
      font-size: 6.6rem;
  -webkit-text-stroke: 0px #fff;
  line-height: 1.7;
}

.msection-text h1{
  font-family: 'Josefin Sans', sans-serif;
      color: #043204;
      font-weight: 400;
      font-size: 22px;
      text-transform: uppercase;
      -webkit-text-stroke: 0px #fff;
      line-height: 33px;
}

.section-text2 h1{
  font-family: 'Josefin Sans', sans-serif;
      color: #000000;
      font-weight: 400;
      font-size: 25px;

      -webkit-text-stroke: 0px #fff;
      line-height: 35px;
}

.gheading-text h1 {
  font-family: 'Pathway Gothic One', sans-serif;
  color: #074e07;

  font-weight: 900;
  font-size: 50px;
  -webkit-text-stroke: 0px #fff;
  line-height: 40px;
}
.gsub-heading h1 {
  font-family: 'Pathway Gothic One', sans-serif;
  color: #074e07;

  font-weight: 900;
  font-size: 25px;
  -webkit-text-stroke: 0px #fff;
  line-height: 40px;
}

.sub-heading h1 {
  font-family: 'Pathway Gothic One', sans-serif;
      color: #074e07;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 22em;
      -webkit-text-stroke: 0px #fff;
      line-height: 0.9em;
      position: absolute;
      /* left: 1em; */
      top: 50%;
      left: 50%;
      /* z-index: 999; */
    transform: translateX(-528px) translateY(-338px);
}

.heading-ltext {
  position: relative;
  left: -100px;
  width: 20%;
  /* top: 10%; */
  z-index: 1;
  transform: rotate(
270deg);
}

.heading-ltext h1 {
  font-family: 'Pathway Gothic One', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 35px;
  -webkit-text-stroke: 0px #fff;
  line-height: 40px;
}

.heading-text p {
  font-family: 'Pathway Gothic One', sans-serif;
  color: #028b2b;;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  -webkit-text-stroke: 0px #fff;
}

.btn {
  font-family: 'Pathway Gothic One', sans-serif;
  color: #028b2b;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  -webkit-text-stroke: 0px #fff;
  border: 3px solid #028b2b;
  background-color: #ffffff00;
}

@keyframes scrollBackground {
  from {
    background-position: 50% 0;
  }
  to {
    background-position: 50% 422px;
  }
}

@-webkit-keyframes scrollBackground {
  from {
    background-position: 50% 0;
  }
  to {
    background-position: 50% 422px;
  }
}
@-moz-keyframes scrollBackground {
  from {
    background-position: 50% 0;
  }
  to {
    background-position: 50% 422px;
  }
}
@-o-keyframes scrollBackground {
  from {
    background-position: 50% 0;
  }
  to {
    background-position: 50% 422px;
  }
}

.column {
  float: left;
  width: 50%;
  margin-top: 50px;
}

.info {
  width: 348px;
    float: right;
    margin-bottom:50px;
}

.title {
  margin-bottom:20px
}
.title img {
  width:33px;
  float: left;
}
.title h1 {
  text-align: left;

  position: relative;

  font-family: 'Pathway Gothic One', sans-serif;
  color: #2c7825;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.5em;
  -webkit-text-stroke: 0px #fff;
  line-height: 0.8em;
  transform: translateX(3px);
}

.bodyt p {
  font-family: 'Pathway Gothic One', sans-serif;
    color: #4ebb43;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.9em;
    -webkit-text-stroke: 0px #fff;
    line-height: 1.1em;
}

.row {
  justify-content: flex-end!important;
  transform: translateY(-110px);
}

#center {
  justify-content: center!important;
  margin-right: 0%!important;
  transform: translateY(0px)!important;
}


/* ==================================================

7 - FOOTER

=====================================================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


.wrapperM {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  display: flex;
  background: #043204;
  justify-content: center;
  align-items: center;
  height: 23vh;
}



.social-icon,
.menul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  padding-inline-start: 0px;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
























section {
    padding: 60px 0;
    min-height: 100vh;
}
.contact-info {
display: inline-block;
width: 100%;
text-align: center;
margin-bottom: 10px;
}
.contact-info-icon {
margin-bottom: 15px;
}
.contact-info-item {
background: #071c34;
padding: 30px 0px;
}
.contact-page-sec .contact-page-form h2 {
color: #071c34;
text-transform: capitalize;
font-size: 22px;
font-weight: 700;
}
.contact-page-form .col-md-6.col-sm-6.col-xs-12 {
padding-left: 0;
}
.contact-page-form.contact-form input {
margin-bottom: 5px;
}
.contact-page-form.contact-form textarea {
height: 110px;
}
.contact-page-form.contact-form input[type="submit"] {
background: #071c34;
width: 150px;
border-color: #071c34;
}
.contact-info-icon i {
font-size: 48px;
color: #fda40b;
}
.contact-info-text p{margin-bottom:0px;}
.contact-info-text h2 {
color: #fff;
font-size: 22px;
text-transform: capitalize;
font-weight: 600;
margin-bottom: 10px;
}
.contact-info-text span {
color: #999999;
font-size: 16px;
font-weight: ;
display: inline-block;
width: 100%;
}

.contact-page-form input {
background: #f9f9f9 none repeat scroll 0 0;
border: 1px solid #f9f9f9;
margin-bottom: 20px;
padding: 12px 16px;
width: 100%;
border-radius: 4px;
}

.contact-page-form .message-input {
display: inline-block;
width: 100%;
padding-left: 0;
}
.single-input-field textarea {
background: #f9f9f9 none repeat scroll 0 0;
border: 1px solid #f9f9f9;
width: 100%;
height: 120px;
padding: 12px 16px;
border-radius: 4px;
}
.single-input-fieldsbtn input[type="submit"] {
background: #fda40b none repeat scroll 0 0;
color: #fff;
display: inline-block;
font-weight: 600;
padding: 10px 0;
text-transform: capitalize;
width: 150px;
margin-top: 20px;
font-size: 16px;
}
.single-input-fieldsbtn input[type="submit"]:hover{background:#071c34;transition: all 0.4s ease-in-out 0s;border-color:#071c34}
.single-input-field  h4 {
color: #464646;
text-transform: capitalize;
font-size: 14px;
}
.contact-page-form {
display: inline-block;
width: 100%;
margin-top: 30px;
}

.contact-page-map {
margin-top: 36px;
}
.contact-page-form form {
padding: 20px 15px 0;
}


@media (max-width: 1256px) {
.section-text2 {
  margin: 0 9vw!important;
}
 .msection-text{
   margin: 0 9vw!important;
 }

 .section-text {
  margin: 0 9vw!important;
 }
}

@media (max-width: 734px) {
  .wrapper {
    height:2000px;
  }
}




























@media (max-width:467px) {
  .section-text h1 {
    font-size: 4.6rem!important;
  }
}

.background {
      z-index: 99;
}

.ccontainer input{
    display: none;
}

.ccontainer{
    max-width: 100em;
    /* background-color: lightgreen; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    margin: auto;
    min-height: 30em;
    padding: 3em 1em 1em 1em;
    box-sizing: border-box;
}

/* Card Styling */
.card-div{
    width: 20em;
    min-height: 20em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: var(--card-main-color);
    margin: 0.6em;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: transform 0.2s ease-in-out;
}

/* ======== General styling of all cards and heart divs ========== */
.img-div{
    width: 100%;
    height: 8em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    z-index: 1;
    border-radius: 0 0 10px 10px;
}

.img-div img{
    transform-origin: bottom;
    transform: translateY(7.5%);
    transition: transform 0.3s ease-in-out
}

/* === Styling the like Icon ==== */
.like-icon-div{
    padding: 1em 1em 0 1em;
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    font-size: 1.5em;
    color: var(--heart-icon-color);
    border-radius:10px 10px 0 0;
    display: flex;
    justify-content: flex-end;
}

.like-icon-div-child{
    /* background-color: yellow; */
    width: 1em;
    height: 1em;
    position: relative;
    z-index: 3;
    cursor: pointer;
}

.heart-empty{
    position: absolute;
    left: 0;
    opacity: 1;
}

.heart-fill{
    position: absolute;
    left: 0;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.25s ease-in-out, opacity 0.2s ease-in-out;
}


/* God of war image and heart-background*/
.gow-img-div{
    background-color: var(--card-1-secondary-color);
}

.gow-img-div img{
    width: 65%;
    transform: translateY(7.5%);
    /* background-color: whitesmoke; */
}

.card-1 .like-icon-div{
    background-color: var(--card-1-secondary-color);
}


/* Sekiro image and heart-background */
.sekiro-img-div{
    background-color: var(--card-2-secondary-color);
}

.sekiro-img-div img{
    width: 45%;
    transform: translateY(7.5%);
}

.card-2 .like-icon-div{
    background-color: var(--card-2-secondary-color);
}


/* Dazai image and heart-background */
.dazai-img-div{
    background-color: var(--card-3-secondary-color);
}

.dazai-img-div img{
    width: 80%;
    transform: translateY(7.5%);
}

.card-3 .like-icon-div{
    background-color: var(--card-3-secondary-color);

}

/* U4 image and heart-background*/
.u4-img-div{
    background-color: var(--card-4-secondary-color);
}

.u4-img-div img{
    width: 50%;
    transform: translateY(7.5%);
}

.card-4 .like-icon-div{
    background-color: var(--card-4-secondary-color);
}

/* ======== text Container Styling general ======== */

.text-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    padding: 0 1.5em;
    padding-top: 7em;
    padding-bottom: 1em;
    box-sizing: border-box;
}

.text-container .item-name,
.text-container .date{
    margin: 0.25em 0;
    text-align: center;
}

.text-container .item-name{
    font-size: 1.2em;
    font-weight: var(--title-font-weight);
    color: var(--heading-color);
}

.text-container .date{
    font-size: 0.9em;
    font-weight: var(--date-font-weight);
    color: var(--date-text-color);
}

/* === Pricing and cart div  ===== */
.pricing-and-cart{
    /* background-color: wheat; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.25em 0 1em 0;
}

.pricing{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.previous-price{
    font-size: 0.8rem;
    font-weight: var(--pricing-font-weight);
    color: var(--previous-price-text-color);
    text-decoration: line-through;
    /* background-color: whitesmoke; */
    text-align: left;
}

.current-price{
    color: var(--current-price-text-color);
    font-size: 1.3rem;
    font-weight: var(--pricing-font-weight);
    /* background-color: yellow; */
    margin: 0;
}

.pricing-and-cart{
    width: 100%;
}

.fa-shopping-cart{
    font-size: 1.3rem;
    top: 0;
    transform: translateY(50%);
}


/* ====== Hover effects ======= */
.card-div:hover .img-div img{
    transform: translateY(7.5%) scale(1.2);
}

.card-div:hover{
    transform: translate(0, -10px);
}

.like-icon-div-child:hover .heart-fill{
    opacity: 1;
    transform: scale(1);
}

.like-icon-div-child:hover .heart-empty{
    transition-delay: 0.25s;
    opacity: 0;
}

#card-1-like:checked ~ .heart-empty,
#card-2-like:checked ~ .heart-empty,
#card-3-like:checked ~ .heart-empty,
#card-4-like:checked ~ .heart-empty{
        opacity: 0;
}

#card-1-like:checked ~ .heart-fill,
#card-2-like:checked ~ .heart-fill,
#card-3-like:checked ~ .heart-fill,
#card-4-like:checked ~ .heart-fill{
    animation: like-animation 0.25s ease-in-out forwards;
}

#card-1-like:not(:checked) ~ .heart-fill,
#card-2-like:not(:checked) ~ .heart-fill,
#card-3-like:not(:checked) ~ .heart-fill,
#card-4-like:not(:checked) ~ .heart-fill{
    animation: unlike-animation 0.25s ease-in-out ;
}


@keyframes like-animation{
    0%{
        opacity: 1;
        transform: scale(1)
    }

    50%{
        opacity: 1;
        color: var(--liked-heart-icon-color);
        transform: scale(0.5);
    }

    100%{
        opacity: 1;
        color: var(--liked-heart-icon-color);
        transform: scale(1.0);
    }
}

@keyframes unlike-animation{
    0%{
        opacity: 1;
        transform: scale(1)
    }

    50%{
        opacity: 1;
        transform: scale(0.5);
    }

    100%{
        opacity: 1;
        color: var(--heart-icon-color);
        transform: scale(1.0);
    }
}
